{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Editing page "{{title}}"</h1>
<form action="{% url 'encyclopedia:edit' %}" method="post">
    {% csrf_token %}
    <p>Edit Mode:</p>
    <input type="text" name="title" value="{{title}}">
    <br>
    <br>
    <textarea id="content" name="content" rows="2" cols="20">{{content}}</textarea>
    <br>
    <input type="submit" value="Save Page">
    <input name="page" type="hidden" value="editor">
</form>

{% endblock %}