{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Create New Page</h1>

<form action="{% url 'encyclopedia:new' %}" method="post">
    {% csrf_token %}
    <p>Edit Mode:</p>
    <input type="text" name="title" placeholder="Enter entry title here">
    <br>
    <br>
    <textarea id="content" name="content" rows="2" cols="20" placeholder="Enter the description (markdown format) here..."></textarea>
    <br>
    <input type="submit" value="Save Page">
</form>

{% endblock %}