{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Booru</title>
    <link rel="stylesheet" href="{% static 'booru/styles.css' %}">
</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="{% url 'gallery' %}">Home</a>
    
            {% if user.is_authenticated %}
            <a href="{% url 'profile' user.username %}">Profile</a>
            <a href="{% url 'upload_post' %}">Upload</a>
            {% endif %}
        </div>
    
        <div class="nav-right">
            {% if user.is_authenticated %}
            <span>Logged in as {{ user.username }}</span>
    
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    <hr>

    <main>
        {% block body %}
        {% endblock %}
    </main>

</body>

</html>