.git
.gitignore

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.coverage
htmlcov/

.vscode/
.idea/

runs/
datasets/
tests/

*.ipynb
*.log
*.tmp
*.swp

*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.mp4
*.avi

id_ed25519
.env
.env.*